BACKEND_URL = "http://localhost:3001/"
NODE_ENV=development
PORT=3001

#Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=mina1234
DB_NAME=TaskForgeDB

#jwt configuration
JWT_SECRET=helloworld
JWT_EXPIRATION=3600
JWT_REFRESH_SECRET=helloworld2
JWT_REFRESH_EXPIRATION=604800

#web configuration
VITE_API_URL=http://api:3001/api